<!-- primary template -->
<script type="text/html" id='primaryTemplate'>
    <nav class="top-row">
        <ul class="top-nav-list">
            <li class="top-nav-list-item page"><% if (currentType === 'meta' && currentTitleNormalized !== 'root') { print(currentTitleNormalized.replace('-', '')); } %></li>
            <li class="top-nav-list-item logo">
                <a href="/">
                    <img src="/assets/images/aWindow_logo.svg" alt="aWindow logo" />
                </a>
            </li>
            <li class="top-nav-list-item current-edition">
                <a href="/edition/<%= currentEdition %>">edition<%= data.edition[currentEdition].title %></a>
            </li>
            <%
                if (currentType === 'edition') { %>
                    <li class="collaborators">
                        <a class="dropdown-trigger" href="javascript:void(0)">collaborators</a>
                        <ul class="collaborators-list dropdown">
                            <% _.each(data.edition[currentTitleNormalized].collaborators, function(value) { %>
                                <li class="collaborators-list-item">
                                    <a href="/collaborator/<%= value %>"><%= data.collaborator[value].title %></a>
                                </li>
                            <% }); %>
                       </ul>
                    </li>
                <% } else if (currentType !== 'meta' || currentTitleNormalized === 'root') { %>
                    <li class="where">
                        <a href="/where">where<span class="visually-hidden"> is the window currently located?</span></a>
                    </li>
                <% }
            %>
        </ul>
    </nav>

    <main class="middle-row">
        <% if (currentType === 'meta') {
            switch (currentTitleNormalized) {
                case 'root':
                    print(aWindow.template.homepagePartial({
                        data:           data,
                        currentEdition: currentEdition
                    }));
                    break;
                case 'editions':
                    print(aWindow.template.metaListPartial({
                        data:           data,
                        metaList:       'edition',
                        displayOrder:   data.meta[currentTitleNormalized].displayOrder
                    }));
                    break;
                case 'collaborators':
                    print(aWindow.template.metaListPartial({
                        data:           data,
                        metaList:       'collaborator',
                        displayOrder:   data.meta[currentTitleNormalized].displayOrder
                    }));
                    break;
                case 'shop':
                    print(aWindow.template.metaListPartial({
                        data:           data,
                        metaList:       'item',
                        displayOrder:   data.meta[currentTitleNormalized].displayOrder
                    }));
                    break;
                case 'contact':
                    print(aWindow.template.contactPartial({
                        data:           data,
                        currentEdition: currentEdition
                    }));
                    break;
                case 'where':
                    print(aWindow.template.fullWidthImagePartial({
                        data:                   data,
                        fullWidthMedia:         data.edition[currentEdition].location.media,
                        currentEdition:         currentEdition,
                        overlayPartial:         'whereSidebarPartial',
                        currentType:            currentType,
                        currentTitleNormalized: currentTitleNormalized
                    }));
                    break;
            }
        } else if (currentType === 'collaborator') {
            print(aWindow.template.collaboratorPartial({
                data:                   data,
                currentPage:            currentPage,
                currentType:            currentType,
                currentTitleNormalized: currentTitleNormalized
            }));
        } else if (purchasePage) {
            print(aWindow.template.fullWidthImagePartial({
                data:                   data,
                currentPage:            currentPage,
                fullWidthMedia:         currentPage.purchasePageMedia.source,
                attribution:            currentPage.purchasePageMedia.attribution,
                currentEdition:         currentEdition,
                overlayPartial:         'purchaseSidebarPartial',
                currentType:            currentType,
                currentTitleNormalized: currentTitleNormalized
            }));
        } else {
            print(aWindow.template.itemEditionPartial({
                data:                   data,
                currentType:            currentType,
                currentTitleNormalized: currentTitleNormalized,
                currentPage:            currentPage
            }));
        }%>
    </main>

    <footer class="bottom-row">
        <nav class="footer-nav">
            <ul>
                <% if (_.size(data.edition) > 1) { %>
                    <li class="footer-nav-item">
                        <a href="/editions">editions</a>
                    </li>
                <% } %>
                <li class="footer-nav-item">
                    <a href="/collaborators">collaborators</a>
                </li>
                <li class="footer-nav-item">
                    <a href="/shop">shop</a>
                </li>
                <li class="footer-nav-item">
                    <a href="/about">about</a>
                </li>
                <li class="footer-nav-item">
                    <a href="/contact">contact</a>
                </li>
                <li class="footer-nav-item">
                    <a href="#">blog</a>
                </li>
                <li class="footer-nav-item social-links">
                    <ul>
                        <li class="social-link-item">
                            <a class="social-link instagram" href="http://instagram.com/awindownyc"><span class="visually-hidden">navigate to aWindow on Instagram</span></a>
                        </li>
                        <li class="social-link-item">
                            <a class="social-link facebook" href="http://facebook.com/awindownyc"><span class="visually-hidden">navigate to aWindow on Facebook</span></a>
                        </li>
                        <li class="social-link-item">
                            <a class="social-link twitter" href="http://twitter.com/awindownyc"><span class="visually-hidden">navigate to aWindow on Twitter</span></a>
                        </li>
                    </ul>
                </li>
                <li class="footer-nav-item newsletter">
                    <form class="newsletter-form" action="/contact" method="post" target="_blank">
                        <input name="contact[typeOfContact]" type="hidden" value="Subscribe to Newsletter" />
                        <label for="newsletterEmail">newsletter</label>
                        <input id="newsletterEmail" name="newsletterEmail" type="email" placeholder="hi@example.com" required />
                        <input type="submit" value="subscribe" />
                    </form>
                </li>
            </ul>
        </nav>
    </footer>
</script>
<!-- /primary template -->


<!-- main row partials -->
<script type="text/html" id='homepagePartial'>
    <div class="homepage-container">
        <figure id="parallax" class="parallax-container">
            <a class="layer" href="/item/leather-bracelet" data-depth="0.10">
                <img src="/assets/images/editionone/homepage_parallax/base.png">
            </a>
            <a class="layer" href="/item/leather-bracelet" data-depth="0.20">
                <img src="/assets/images/editionone/homepage_parallax/skull.png">
            </a>
            <a class="layer" href="/item/leather-bracelet" data-depth="0.28">
                <img src="/assets/images/editionone/homepage_parallax/eclipses.png">
            </a>
            <a class="layer" href="/item/leather-bracelet" data-depth="0.30">
                <img src="/assets/images/editionone/homepage_parallax/tongue.png">
            </a>
            <a class="layer" href="/item/leather-bracelet" data-depth="0.38">
                <img src="/assets/images/editionone/homepage_parallax/conker.png">
            </a>
            <a class="layer" href="/item/leather-bracelet" data-depth="0.50">
                <img src="/assets/images/editionone/homepage_parallax/square.png">
            </a>
            <a class="layer" href="/item/leather-bracelet" data-depth="0.53">
                <img src="/assets/images/editionone/homepage_parallax/core.png">
            </a>
            <a class="layer" href="/item/leather-bracelet" data-depth="0.50">
                <img src="/assets/images/editionone/homepage_parallax/t-shirt.png">
            </a>
        </figure>
    </div>
</script>

<script type="text/html" id='fullWidthImagePartial'>
    <div class="full-width-image-container" style="background-image: url(<%= fullWidthMedia %>)">
        <div class="overlay-container">
            <%
                print(aWindow.template[overlayPartial]({
                    data:                   data,
                    currentPage:            currentPage,
                    currentEdition:         currentEdition,
                    currentType:            currentType,
                    currentTitleNormalized: currentTitleNormalized
                }));
            %>
        </div>
        <% print(aWindow.template.attributionPartial({ attribution: attribution })); %>
    </div>
</script>

<script type="text/html" id='itemEditionPartial'>
    <div class="item-edition-container">
        <section class="sidebar-text">
            <p class="description"><%= currentPage.description %></p>

            <% if (currentType === 'item' && !currentPage['sub-items'].length) { %>
                <a class="purchase-page-link" href="/item/<%= currentTitleNormalized %>/purchase">purchase</a>
            <% } %>
        </section>
        <figure class="primary-media">
            <% if (currentPage.media.type === 'video-embed') {
                print(currentPage.media.source);
            } else { %>
                <a href="<%= currentPage.media.source %>" target="_blank">
                    <img class="primary-image" src="<%= currentPage.media.source %>" alt="view larger image" />
                </a>
            <% } %>
        </figure>
        <% if (currentType === 'item' && currentPage['sub-items'].length) {
            // show sub-item list partial
            print(aWindow.template.subItemDisplayPartial({
                data:                   data,
                subItems:               data['sub-item'],
                currentSubItems:        currentPage['sub-items'],
                currentSubItemCount:    currentPage['sub-items'].length,
                parentItemNormalized:   currentTitleNormalized,
                parentItem:             currentPage
            }));
        } else if (currentPage.additionalMedia) { %>
            <div class="additional-media-wrapper">
                <section class="additional-media">
                    <% _.each(currentPage.additionalMedia, function(value) { %>
                        <a href="<%= value %>" target="_blank">
                            <img class="thumbnail-image" src="<%= value %>" alt="view larger image" />
                        </a>
                    <% }); %>
                </section>
            </div>
        <% } %>
    </div>
</script>

<script type="text/html" id='subItemDisplayPartial'>
    <%
        // display main image and subsequent smaller carousel images that link to respective sub-item pages
    %>
    <div class="additional-media-wrapper">
        <section class="additional-media">
            <% _.each(currentSubItems, function(subItem, key) { %>
                <a href="/item/<%= parentItemNormalized %>/<%= subItem %>/purchase">
                    <img class="thumbnail-image sub-item" src="<%= subItems[subItem].media.source %>" alt="go to purchase page" />
                </a>
            <% }); %>
        </section>
    </div>
</script>

<script type="text/html" id='collaboratorPartial'>
    <div class="collaborator-container">
        <figure class="primary-media">
            <% if (currentPage.media.type === 'video-embed') {
                print(currentPage.media.source);
            } else { %>
                <img class="primary-image" src="<%= currentPage.media.source %>" alt="<%= currentPage.title %>">
            <% }

            print(aWindow.template.attributionPartial({ attribution: currentPage.media.attribution })); %>
        </figure>
        <section class="sidebar-text">
            <h2 class="collaborator-name"><%= currentPage.title %></h2>
            <p class="description"><%= currentPage.description %></p>

            <% if (currentType === 'item' && !currentPage['sub-items'].length) { %>
                <a class="purchase-page-link" href="/item/<%= currentTitleNormalized %>/purchase">purchase</a>
            <% } %>
        </section>
    </div>
</script>

<script type="text/html" id='metaListPartial'>
    <div class="meta-list-container">
        <ul class="meta-list">
            <% _.each(displayOrder, function(value) { %>
                <li class="meta-list-item">
                    <h3 class="meta-list-title">
                        <a href="/<%= metaList %>/<%= value %>"><%= data[metaList][value].title %></a>
                    </h3>
                </li>
            <% }); %>
       </ul>
    </div>
</script>

<script type="text/html" id='contactPartial'>
    <div class="contact-container">
        <aside class="meta-info-container">
            <section class="meta-section">
                <h2 class="section-header">Location</h2>
                <p><%= data.edition[currentEdition].location %></p>
            </section>
            <section class="meta-section">
                <h2 class="section-header">Hours</h2>
                <p><%= data.edition[currentEdition].hours %></p>
            </section>
            <section class="meta-section">
                <p>Email <a href="mailto:<%= data.edition[currentEdition].contact.email %>"><%= data.edition[currentEdition].contact.email %></a><br/>Or call us at <a href="tel:<% print(data.edition[currentEdition].contact.phone.replace(/[^\d|+]/g, '')); %>"><%= data.edition[currentEdition].contact.phone %></a></p>
            </section>
        </aside>
        <form action="/contact" method="post" target="_blank">
            <input name="contact[typeOfContact]" type="hidden" value="Contact Form Message" />
            <div class="form-container">
                <label for="contactName">
                    Name*
                    <input id="contactName" name="contact[name]" type="text" required autofocus />
                </label>
                <label for="contactEmail">
                    Email*
                    <input id="contactEmail" name="contact[email]" type="email" required />
                </label>
                <label for="contactPhone">
                    Phone
                    <input id="contactPhone" name="contact[phone]" type="tel" />
                </label>
                <label for="contactMessage">
                    Message*
                    <textarea id="contactMessage" name="contact[message]" rows="10" required></textarea>
                </label>
                <label>
                    Contact Me By
                    <span class="radio-wrapper">
                        <label for="preferEmail"><input id="preferEmail" name="contact[contactPreference]" type="radio" value="email" />Email</label>
                        <label for="preferPhone"><input id="preferPhone" name="contact[contactPreference]" type="radio" value="phone" />Phone</label>
                    </span>
                </label>
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
</script>
<!-- /main row partials -->


<!-- where sidebar partials -->
<script type="text/html" id='whereSidebarPartial'>
    <h2 class="overlay-title">Where Are We Now</h2>
    <p class="where-description"><%= data.edition[currentEdition].location.description %></p>
    <% if (data.edition[currentEdition].location.address !== '') { %>
        <a class="directions-link" href="https://maps.google.com/maps?daddr=<% print(data.edition[currentEdition].location.address.replace(/\s/g, '+')); %>" target="_blank">Get Directions</a>
    <% } %>
</script>
<!-- /where sidebar partials -->


<!-- purchase sidebar partials -->
<script type="text/html" id='purchaseSidebarPartial'>
    <h2 class="overlay-title"><%= currentPage.title %></h2>

    <% if (currentPage.productionRun) { %>
        <div class="production-run"><%= currentPage.productionRun %></div>
    <% } %>

    <div class="purchase-price"><%= currentPage.price %></div>

    <% if (currentPage.madeToOrder) { %>
        <div class="made-to-order">made to order</div>
    <% } %>

    <% if (currentPage.timeToShip) { %>
        <div class="time-to-ship"><%= currentPage.timeToShip %></div>
    <% } %>

    <a href="#" class="order-link">order now</a>
    <a href="#" class="more-info-link">request more info</a>
    <a href="#" class="acquire-entire-gallery">acquire entire gallery</a>
</script>
<!-- /purchase sidebar partials -->


<!-- lightbox module -->
<script type="text/html" id='lightboxModule'>
    <div class="lightbox-overlay">
        <figure class="lightbox-container">
            <img class="lightbox-img" src="<%= imgSource %>" alt=""/>
            <a class="lightbox-close" href="#"><span class="visually-hidden">close fullscreen image</span></a>
        </figure>
    </div>
</script>
<!-- /lightbox module -->

<!-- media attribution partial -->
<script type="text/html" id='attributionPartial'>
    <% if (attribution && attribution.link) { %>
        <a class="media-attribution" href="<%= attribution.link %>" target="_blank"><%= attribution.title %></a>
    <% } else if (attribution && attribution.title) { %>
        <span class="media-attribution"><%= attribution.title %></span>
    <% } %>
</script>
<!-- /media attribution partial -->